* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgba(207, 222, 223, 0.76);
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.primeiro-titulo{
    font-size: 32px;
}



.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-top: 20px;
    font-size: 22px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 4px;
    font-size: 16px;
    margin-left: 12px;
    width: 40%;
    /* margin-right: 4px; */
    line-height: 2em;
    padding-left: 8px;
    /* margin: auto; */
}

.modal-form {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-funcionario {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
    
    background-color: darkgray;
    box-shadow: 0px 0px 20px #000;
}


.btn {
    background-color: cadetblue;
    border: none;
    color: white; 
    padding: 9px 13px;
    font-size: 16px;
    cursor: pointer;
}
  
.btn:hover {
    background-color: rgb(72, 118, 119);
    transition: .7s;
}

table {
    border: 10;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}